html {
	height: 100%;
	position: relative;
	min-width: 960px;
	min-height: 530px;
}

body {
	margin: 0;
}

body:before {
	height: 50%;
	width: 100%;
	background-image: url(images/bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	top: 0;
	z-index: -1;
	content: ''; 
}

.intro {
	color: white;
	position: absolute;
	bottom: 67%;
	right: 0;
	left: 0;
	margin: auto;
	width: 40%;
	text-align: center;
}

.join {
    color: #FFF;
	font-size: 100%;
	display: inline-block;
	background: #00B220;
	padding: .5em 1.5em;
	margin: 0.5em 0 0 0;
	line-height: 1;
	border-radius: 1em;
	text-decoration: none;
	border: none;
	outline: none;
	cursor: pointer;
	box-shadow: 0 .1em .2em rgba(0, 0, 0, .3);
	transition: .7s;
}

.lecturer {
	position: absolute;
	top: 50%;
	width: 100%;
}

.lecturer-list {
	list-style: none;
	text-align: center;
	width: 100%;
	-webkit-padding-start: 0;
	margin: 0;
	height: 150px;
}

.lecturer-list:after {
	content: '';
	height: 100%;
	width: 0;
	display: inline-block;
	vertical-align: middle;
}

.lecturer-list li {
	vertical-align: middle;
	display: inline-block;
	height: 98px;
	width: 98px;
	margin-left: 20px;
	-webkit-transition: .2s;
	transition: .2s;
}

.lecturer-list li:first-child {
	margin-left: 0;
}

.line {
	position: relative;
	height: 10px;
	background: url(images/line.png) repeat-x;
	top: 105px;
	z-index: -10;
}

#about {
	width: 50%;
	margin: 0 auto;
	text-align: center;
	color: #999;
	font-size: 15px;
	margin-top: 35px;
	position: relative;
}

#about .title {
	font-weight: 300;
	margin-bottom: 0;
}

.title strong {
	color: #000;
	font-size: 20px;
	padding-right: 20px;
}

#about .brief {
	line-height: 30px;
	margin-top: 5px;
}

/*置灰*/
.gray { 
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray;
}

/*变大*/
.lecturer-list li.largen {
	height: 140px;
	width: 140px;
}

/*1*/
.kaitao {
	background: url(images/kaitao.png) 0% / cover no-repeat;
}

/*2*/
.zhangshuai {
	background: url(images/zhangshuai.png) 0% / cover no-repeat;
}

/*3*/
.aapo {
	background: url(images/aapo.png) 0% / cover no-repeat;
}

/*4*/
.chun {
	background: url(images/chun.png) 0% / cover no-repeat;
}

/*5*/
.dejiang {
	background: url(images/dejiang.png) 0% / cover no-repeat;
}

/*6*/
.weibin {
	background: url(images/weibin.png) 0% / cover no-repeat;
}

/*7*/
.zhangcong {
	background: url(images/zhangcong.png) 0% / cover no-repeat;
}

.QRcode {
	position: absolute;
	top: 240px;
	right: 13%;
	height: 108px;
	width: 108px;
}
