html {
	height: 100%;
	position: relative;
	min-width: 960px;
	min-height: 530px;
}

body {
	margin: 0;
}

ul {
	list-style: none;
	-webkit-padding-start: 0;
}

a {
	text-decoration: none;
}

/*工具*/
.w180 {
	width: 180px;
}

.w250 {
	width: 250px;
}

.red {
	color: red;
}

.green {
	color: green;
}

.blue {
	color: rgb(61, 103, 166);
}

.fr {
	float: right;
}

.mt20 {
	margin-top: 20px;
}

.mt30 {
	margin-top: 30px;
}

body:before {
	height: 50%;
	width: 100%;
	background-image: url(images/bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	top: 0;
	z-index: -1;
	content: ''; 
}

.intro {
	color: white;
	position: absolute;
	bottom: 67%;
	right: 0;
	left: 0;
	margin: auto;
	width: 40%;
	text-align: center;
	font-family: consolas;
}

.join {
    color: #FFF;
	font-size: 100%;
	display: inline-block;
	background: #00B220;
	padding: .5em 1.5em;
	margin: 0.5em 0 0 0;
	line-height: 1;
	border-radius: 1em;
	text-decoration: none;
	border: none;
	outline: none;
	cursor: pointer;
	box-shadow: 0 .1em .2em rgba(0, 0, 0, .3);
	transition: .7s;
}

.lecturer {
	position: absolute;
	top: 50%;
	width: 100%;
}

.lecturer-list {
	text-align: center;
	width: 100%;
	margin: 0;
	height: 150px;
}

.lecturer-list:after {
	content: '';
	height: 100%;
	width: 0;
	display: inline-block;
	vertical-align: middle;
}

.lecturer-list li {
	vertical-align: middle;
	display: inline-block;
	height: 98px;
	width: 98px;
	margin-left: 20px;
	-webkit-transition: .2s;
	transition: .2s;
}

.lecturer-list li:first-child {
	margin-left: 0;
}

.line {
	position: relative;
	height: 10px;
	background: url(images/line.png) repeat-x;
	top: 105px;
	z-index: -10;
}

#about {
	width: 50%;
	margin: 0 auto;
	text-align: center;
	color: #999;
	font-size: 15px;
	margin-top: 35px;
	position: relative;
}

#about .title {
	font-weight: 300;
	margin-bottom: 0;
}

.title strong {
	color: #000;
	font-size: 20px;
	padding-right: 20px;
}

#about .brief {
	line-height: 30px;
	margin-top: 5px;
}

/*置灰*/
.gray { 
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray;
}

/*变大*/
.lecturer-list li.largen {
	height: 140px;
	width: 140px;
}

/*1*/
.kaitao {
	background: url(images/kaitao.png) 0% / cover no-repeat;
}

/*2*/
.zhangshuai {
	background: url(images/zhangshuai.png) 0% / cover no-repeat;
}

/*3*/
.aapo {
	background: url(images/aapo.png) 0% / cover no-repeat;
}

/*4*/
.chun {
	background: url(images/chun.png) 0% / cover no-repeat;
}

/*5*/
.dejiang {
	background: url(images/dejiang.png) 0% / cover no-repeat;
}

/*6*/
.weibin {
	background: url(images/weibin.png) 0% / cover no-repeat;
}

/*7*/
.zhangcong {
	background: url(images/zhangcong.png) 0% / cover no-repeat;
}

.QRcode {
	position: absolute;
	top: 240px;
	right: 13%;
	height: 108px;
	width: 108px;
}

/*详细内容包含日程表/赞助商*/
.detail {
	position: absolute;
	top: 90%;
	width: 700px;
	left: 50%;
	margin-left: -350px;

}

/*日程表*/
.schedule {
	width: 700px;
}

.schedule h1 {
	text-align: center;
	color: #34495e;
	text-shadow: 2px 2px 4px #34495e;
}

#schedule-list {
	color: #999;
	font-weight: bold;
}

#schedule-list > li {
	font-size: 0;
	margin-top: 10px;
}

.schedule-item {
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 16px;
	display: inline-block;
	width: 49%;
	background-color: #f8f8f8;
	text-indent: 20px;
	line-height: 24px;
	box-shadow: 1px 1px #ccc;
	border-radius: 3px;
	font-family: consolas;
}

.doing {
	display: block;
	font-style: normal;
	/*color: #2674BA;*/
	color: black;
}

/*赞助商*/
.sponsor {
	width: 700px;
	text-align: center;
	height: 300px;
	color: #34495e;
	text-shadow: 2px 2px 4px #34495e;
}
