<footer class="footer">
  <div id="gotop">^</div>
  <ul class="social-links">
  		<br>
		<li>
			<a href="https://github.com/moonbingbing/openresty-best-practices" title="Github" target="_new">
				<img width="19px" height="19px" src="/images/github.png"/>
			</a>
		</li>
		<li>
			<a href="https://www.gitbook.com/book/moonbingbing/openresty-best-practices/details" title="RSS" target="_new">
				<img width="19px" height="19px" src="/images/rss.png"/>
			</a>
		</li>
	     
		@2015 OpenResty Best Practice.
	</ul>
 
</footer>
