<footer class="footer">
	<span>
		<a href="https://github.com/moonbingbing/openresty-best-practices" title="Github" target="_new">
			<img width="19px" height="19px" src="/images/github.png">
		</a>
	</span>
	<span>
		<a href="https://www.gitbook.com/book/moonbingbing/openresty-best-practices/details" title="RSS" target="_new">
			<img width="19px" height="19px" src="/images/rss.png">
		</a>
	</span>
	<span>
            <a href="mailto:wenming@iresty.org">给我们发邮件</a>
	</span>

	@2015 OpenResty Best Practice.
</footer>
